<footer class="container mt-5">
  <p class="float-right"><a href="#">Voltar ao topo</a></p>
  <p>
    &copy; Companhia S.A., 2022 &middot;
    <a href="#">Privacidade</a> &middot; <a href="#">Termos</a>
  </p>
</footer>
