<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <link rel="stylesheet" href="../public/css/style.css" />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
      integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
      crossorigin="anonymous"
    />
    <title>Home - Meio Ambiente</title>
  </head>
  <body>
    <header>
      <ul class="nav nav-tabs">
        <li class="nav-item">
          <a class="nav-link active" href="sobre.html">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Sobre nós</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Contato</a>
        </li>
      </ul>
    </header>

    <main>
      <div
        id="carouselExampleIndicators"
        class="carousel slide"
        data-ride="carousel"
      >
        <ol class="carousel-indicators">
          <li
            data-target="#carouselExampleIndicators"
            data-slide-to="0"
            class="active"
          ></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img
              class="d-block w-100 imagem-carrossel"
              src="../public/imagens/sustentabilidade_04.webp"
              alt="Primeiro Slide"
            />
            <div class="carousel-caption d-none d-md-block">
              <h5>Manter preservadas áreas verdes</h5>
              <p>Salvas de atividades de exploração com fins econômicos</p>
            </div>
          </div>
          <div class="carousel-item">
            <img
              class="d-block w-100 imagem-carrossel"
              src="../public/imagens/sustentabilidade_03.webp"
              alt="Segundo Slide"
            />
            <div class="carousel-caption d-none d-md-block">
              <h5>Reciclagem e coleta seletiva do lixo</h5>
              <p>
                Faça o descarte corretamente, redução, reutilização e
                reciclagem.
              </p>
            </div>
          </div>
          <div class="carousel-item">
            <img
              class="d-block w-100 imagem-carrossel"
              src="../public/imagens/sustentabilidade_02.webp"
              alt="Terceiro Slide"
            />
            <div class="carousel-caption d-none d-md-block">
              <h5>Evitar o desperdício de água</h5>
              <p>Contribua com a sustentabilidade e economia.</p>
            </div>
          </div>
        </div>
        <a
          class="carousel-control-prev"
          href="#carouselExampleIndicators"
          role="button"
          data-slide="prev"
        >
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Anterior</span>
        </a>
        <a
          class="carousel-control-next"
          href="#carouselExampleIndicators"
          role="button"
          data-slide="next"
        >
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Próximo</span>
        </a>
      </div>

      <blockquote class="blockquote text-center">
        <h1 class="mb-2 mt-5">Sustentabilidade</h1>
        <p class="blockquote-footer">A sustentabilidade consiste em construir pensando no futuro.</p>
      </blockquote>

      <div class="card-deck m-5 p-2">
        <div class="card">
          <img class="card-img-top" src="../public/imagens/sustentabilidade_05.webp" alt="Imagem de capa do card">
          <div class="card-body">
            <h5 class="card-title">Energia sustentavel</h5>
            <p class="card-text">Este é um card maior com suporte a texto embaixo, que funciona como uma introdução a um conteúdo adicional. Este conteúdo é um pouco maior, para demonstração.</p>
          </div>
        </div>
        <div class="card">
          <img class="card-img-top" src="../public/imagens/sustentabilidade_07.webp" alt="Imagem de capa do card">
          <div class="card-body">
            <h5 class="card-title">Natureza</h5>
            <p class="card-text">A preservação da natureza é responsabilidade de todos, neque quia dolor eveniet accusantium rem aut eius. Minus modi, doloribus odio mollitia dolore culpa illo rem quia molestias soluta, et a.</p>
          </div>
        </div>
        <div class="card">
          <img class="card-img-top" src="../public/imagens/sustentabilidade_06.webp" alt="Imagem de capa do card">
          <div class="card-body">
            <h5 class="card-title">Área de preservação</h5>
            <p class="card-text">Este é um card maior com suporte a texto embaixo, que funciona como uma introdução a um conteúdo adicional. Este card tem o conteúdo ainda maior que o primeiro, para mostrar a altura igual, em ação.</p>
          </div>
        </div>
      </div>
    </main>

    <footer class="container mt-5">
      <p class="float-right"><a href="#">Voltar ao topo</a></p>
      <p>
        &copy; Companhia S.A., 2022 &middot;
        <a href="#">Privacidade</a> &middot; <a href="#">Termos</a>
      </p>
    </footer>
    
    <script
      src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
      integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
      integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
      integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
