<!DOCTYPE html>

<%- include('header'); %>

<body>
  
  <%- include('header'); %>

  <main>
    <div class="jumbotron">
      <h1>Sobre mim</h1>
      <p>Olá meu nome é Filipe, desenvolvedor front end com projetos construido em html css e ejs.</p>
    </div>
  </main>

  <%- include('footer'); %>

</body>